* {
  box-sizing: border-box;
  margin: 0;
}
html,
body {
  height: 100vh;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
h1 {
  font-size: 4rem;
  margin-bottom: 20px;
}
.grid-container {
  width: 60%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(4, 1fr);
  gap: 30px;
}
.grid-items {
  background-color: red;
  min-height: 18vh;
}
.grid-items:first-child {
  grid-column: 1 / 4;
  grid-row: 1 / 2;
  background-image: url("../images/car-speed.jpeg");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(2) {
  grid-column: 4 / 7;
  grid-row: 1 / 2;
  background-image: url("../images/car.jpeg");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(3) {
  grid-column: 1 / 2;
  grid-row: 2 / 3;
  background-image: url("../images/customsImagePandorium.webp");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(4) {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  background-image: url("../images/fondoCasa.avif");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(5) {
  grid-column: 3 / 6;
  grid-row: 2 / 4;
}
.grid-items:nth-child(6) {
  grid-column: 6 / 7;
  grid-row: 2 / 3;
  background-image: url("../images/girl-grayscale.jpeg");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(7) {
  grid-column: 1 / 3;
  grid-row: 3 / 4;
  background-image: url("../images/girl.jpg");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(8) {
  grid-column: 3 / 6;
  grid-row: 3 / 4;
}
.grid-items:nth-child(9) {
  grid-column: 6 / 7;
  grid-row: 3 / 4;
  background-image: url("../images/paint.jpeg");
  background-size: cover;
  background-position: center;
}

.grid-items:nth-child(10) {
  grid-column: 1 / 2;
  grid-row: 4 / 5;
  background-image: url("../images/papers.avif");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(11) {
  grid-column: 2 / 3;
  grid-row: 4 / 5;
  background-image: url("../images/room.jpeg");
  background-size: cover;
  background-position: center;
}
.grid-items:nth-child(12) {
  grid-column: 3 / 7;
  grid-row: 4 / 5;
  background-image: url("../images/watch.jpeg");
  background-size: cover;
  background-position: center;
}
